@{
    ViewData["Title"] = "Register and Login Page";
}
<h1>Welcome to the Wedding Planner</h1>
<div class="row">
    <div id= "register" class="col-md-6">
        <partial name="RegisterPartial"/>
    </div>
    <div id= "login" class="col-md-6">
        <partial name="LoginPartial"/>
    </div>
</div>